*

!.yarn
!.yarnrc.yml
!yarn.lock

!games
games/bomberman
games/planet-war
!games/planet-war/bots
!games/planet-war/maps
!games/planet-war/public
!games/planet-war/src
!games/planet-war/ai-arena.game.config.json
!games/planet-war/ai-arena.server.config.json
!games/planet-war/cover.png
!games/planet-war/game-description-en.md
!games/planet-war/game-description-hu.md
!games/planet-war/package.json
!games/planet-war/package-lock.json
!games/planet-war/package_server.sh
!games/planet-war/tsconfig.json

!public
!src
!package.json
!tsconfig.json
