[submodule "games/bomberman"]
	path = games/bomberman
	url = https://github.com/leanil/ai-arena-bomberman.git
[submodule "games/planet-war"]
	path = games/planet-war
	url = https://github.com/Kristofy/botWrapper.git
[submodule "games/quoridor"]
	path = games/quoridor
	url = https://github.com/Kristofy/Quoridor.git
